.sidebar{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: black;
    .bg{
        position: fixed;
        top: -4px;
        left: 0;
        width: 400px;
        background-color: #fff;
        bottom: 0;
        .links{
        position: absolute;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        left: 30px;
        top: 100px;
        a{
            font-size: 30px;
        }
        }
       
    }
    .button{
        position: fixed;
        width: 50px;
        height: 50px;
        top: 25px;
        border-radius: 50%;
        left: 25px;
        border: none;
        background-color: transparent;
        cursor: pointer;
           }
   
}

@media(max-width:850px){
   .sidebar{
    width: 10px !important;
    height: 2px;
    .bg{
        left: -13px;
        width: 300px;
        top: -13px;

       .links{
        
        a{
            font-size: 25px;
        }
       }
    }

    .button{
        left: 13px;
        top:15px;
        color: white;
        background-color: #fff;
        padding: 0;
    }
   } 
}
